{% extends 'demo/base.html' %}

{% load staticfiles %}

{% block title %}django-bootstrap3{% endblock %}


{% block content %}
<link href="{% static "css/grid.css" %}" rel="stylesheet">
    This is <em>bootstrap3</em> for <strong>Django</strong>.
      <h3>Three equal columns</h3>
      <p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.</p>
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
{% endblock %}