<div class="container">
     <div class="row row-offcanvas row-offcanvas-right">
	    <div class="col-12 col-sm-12 col-lg-12 col-xs-12 col-md-12">
    		<div class="jumbotron" style="display:block; background-color:#43CD80;">
    		  <div class="container">
        <h1 style="color:white">欢迎来到我家宝贝商家平台!</h1>
        <p style="color:white">在这里写个口号吧。</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/sellers/register/">商家注册 &raquo;</a></p>
        </div>
		   </div>
      </div>
      </div>
</div>