 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>我家宝贝</h2>
          <p>在这里介绍下我家宝贝，写点什么吧。 </p>
          <p><a class="btn btn-default" href="#" role="button">详细了解 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>商家平台</h2>
          <p>在这里说下我们如何帮助商家吧，写点详细内容吧。</p>
          <p><a class="btn btn-default" href="#" role="button">详细了解 &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>用户</h2>
          <p>写点详细内容吧</p>
          <p><a class="btn btn-default" href="#" role="button">详细了解 &raquo;</a></p>
        </div>
      </div>